body{
    margin: 0;
    padding: 0;
}
.desh1 {
    background-color: rgb(6, 6, 6);
    color: aliceblue;
    width: 18%;
    margin: 5px;
    border: 2px solid black;
}

.desh2 {
    background-color: white;
    width: 82%;
    margin: 5px;
    border: 2px solid rgb(242, 23, 23);

    .dropdown {
        float: left;
        overflow: hidden;
    }
}
.desh1 ul{
    list-style-type: none;
}
.desh1 ul li{
    padding: 10px;
}
.desh1 ul li:hover{
    background-color: red;
    color: rgb(244, 239, 239);
}
.dropdown{
    display: none;
}
.desh1 ul li:hover .dropdown {
    display: block;
    position: Absolute;
    margin-left: -0.29cm;
    margin-top: 0.27cm;
}
.dropdown ul{
    margin: 0;
    padding: 0;
}
.dropdown ul li{
    display: block;
}
